[package]
name = "ircevents"
edition.workspace = true
rust-version.workspace = true
#description = ...
authors.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
anyhow = "1.0.98"
clap = { version = "4.5.41", default-features = false, features = ["derive", "error-context", "help", "std", "suggestions", "usage", "wrap_help"] }
either = "1.15.0"
ircnet = { path = "../ircnet", features = ["serde"] }
irctext = { path = "../irctext" }
jiff = "0.2.15"
patharg = "0.4.1"
serde = { version = "1.0.219", features = ["derive"] }
serde-jsonlines = "0.7.0"
tokio = { version = "1.34.0", features = ["macros", "rt", "signal"] }
toml = "0.9.2"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"

[lints]
workspace = true
